@charset "utf-8";

/* 全体設定 */
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo,
    sans-serif;
}

/* 共通設定 */
.heading {
  text-align: center;
  margin-bottom: 30px;
  h2 {
    display: inline-block;
    border-bottom: 1px solid black;
  }
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* 個別設定 */
header {
  width: 100%;
}

.hero {
  margin-bottom: 90px;

  img {
    display: block;
    background-color: antiquewhite;
    margin: 0 auto;
  }
}

.introduce {
  margin-bottom: 90px;
  .introduce-wrapper {
    display: flex;
  }
}

.profile {
  margin-bottom: 90px;
  .profile-wrapper {
    display: flex;
  }
}

footer {
  text-align: center;
}
